/*Ширина сайта 1280px*/
body {
    background: url("/img/background_header.png") no-repeat;
    background-position: 0 -90px;
    background-size: 100% 110%;
    font-family: "Arial" sans-serif;
}

a {
    text-decoration: none;
}

.menu a {
    border: 1px;
    color: lightgrey;
}

.Title {
    color: orange;
    text-align: center;
}

.menu{
    list-style: none;
    padding: 0px;
    margin: -1px;
}

.menu li{
    display: inline;
    margin-right: 50px;
}

.menu1 {
    position: relative;
    bottom: 50px;
    left: 500px;
}

.menu2 {
    position: relative;
    left: 1150px;
    bottom: 80px;
}